.card
    padding: 6px 10px 6px 10px
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15))
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15)
    display: flex
    flex-wrap: wrap
    &--margin-bottom
        margin-bottom: 20px
    &__header__text-block
        margin-left: 13px
        flex-basis: 190px
        flex-grow: 1
    &__img-wrapper
        width: 60px
        height: 90px
        text-align: center
        vertical-align: middle
        overflow: hidden
    &__img
        height: 100%
        &--no-data
            font-size: 40px
            width: 50px
            margin: 0 auto
    &__genres
        margin-top: 9px
    &__description
        margin-top: 10px

@media screen and (min-width: 1010px)
    .card
        flex-direction: column
        padding: 0
        height: 281px
        &__img-wrapper
            width: 183px
            height: 281px
        &__header__text-block
            flex-basis: auto
            width: 247px
            flex-grow: 0
            margin-left: 20px
        &__description
            width: 247px
            margin-left: 20px
