.card
    padding: 6px 10px 6px 10px
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15)
    display: flex
    flex-wrap: wrap
    align-items: stretch
    position: relative
    overflow: hidden
    &--margin-bottom
        margin-bottom: 20px
        min-height: 245px
        // padding-bottom: 46px
    &__header__text-block
        margin-left: 13px
        flex-basis: 190px
        flex-grow: 1
        min-height: 90px
        padding-right: 40px
    &__img-wrapper
        width: 60px
        height: 90px
        text-align: center
        vertical-align: middle
        overflow: hidden
    &__img
        height: 100%
        width: 100%
        object-fit: cover
        object-position: 50% 50%
        &--no-data
            font-size: 40px
            width: 50px
            margin: 0 auto
    &__genres
        margin-top: 9px
        display: flex
        flex-wrap: wrap
    &__description
        margin-top: 10px
        margin-bottom: 46px
        height: 107px

.rating
    transform: scale(0.9)
    transform-origin: bottom right
    position: absolute
    bottom: 5px
    right: 8px
    &--margin
        margin-left: 20px

@media screen and (min-width: 1010px)
    .card
        flex-direction: column
        padding: 0
        height: 281px
        &__img-wrapper
            width: 183px
            height: 281px
        &__header__text-block
            flex-basis: auto
            width: 247px
            flex-grow: 0
            margin-left: 20px
        &__description
            width: 247px
            margin-left: 20px
            margin-bottom: 0
